<br />
<br />
<center><%= link_to "Créer son Event", new_event_path,  class: "btn btn-lg btn-primary" %></center>

<div class="card-container">
<div class="container">
  <div class="row no-gutters ">

<% Event.all.each do |event| %>
  <div class="col-sm-4 col-custom">
      <div class="card border-0" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><strong><%= event.title %></strong></h5>
          <p class="card-text">Date : <%= event.start_date.strftime("%d of %B, %Y") %></p>
          <p class="card-text">Heure : <%= event.start_hour %></p>
          <p class="card-text">Durée : <%= event.duration %></p>
          <p class="card-text">Lieux : <%= event.location %></p>
          <p class="card-text">Prix: <%= event.price %></p>
          <p class="card-text">Organisateur : <%= event.organizer.first_name %><%= event.organizer.last_name %></p>
          <p class="card-text">Nb de participants: <%= event.attendances.count %></p>
          <center><%= link_to "Détails", event_path(event.id),  class: "btn btn-primary" %></center>
        </div>
      </div>
    </div>
  <% end %>

  </div>
  </div>
  </div>

