
  
  <div class="form-custom">
  <center><h3>Editer profil</h3>
  <br />
  
  <%= link_to "Changer mot de passe", password_edit_path,  class: "btn btn-sm btn-primary" %>
  <%= link_to "Changer email", email_edit_path,  class: "btn btn-sm btn-primary" %>
  <%= link_to "Supprimer compte", registration_path(resource_name), data: { confirm: "Etes vous sur ?" }, method: :delete, class:"btn btn-sm btn-danger"%>
  
  </center>
  <br />
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <% if resource.nil? %>
  <div class="alert alert-danger alert-dismissible fade show">
      <button type="button" class="close" data-dismiss="alert">&times;</button>
  <% resource.errors.full_messages.each do |msg| %>
  
      <div><%= msg %></div>
  <% end %>
  </div>
  <% end %>
    <div class="form-group">
    

      <div class="form-row justify-content-center text-center">
      <div class="form-group col-md-4 ">
      
      </div>
      </div>

      <div class="form-row justify-content-center text-center">

     

        <div class="form-group col-md-2 ">
          <label for="formGroupExampleInput">Prénom (obligatoire)</label>
          <%= f.text_field :first_name, autofocus: true, class:"form-control" %> 
        </div>
        <div class="form-group col-md-2">
          <label for="formGroupExampleInput">Nom (obligatoire)</label>
          <%= f.text_field :last_name, autofocus: true, class:"form-control" %>
        </div>
      </div>
    
  
      <div class="form-row justify-content-center text-center">
        <div class="form-group col-md-2 ">
          <label for="formGroupExampleInput">Mot de passe (obligatoire)</label>
          <%= f.password_field :current_password, autocomplete: "current-password", class:"form-control"%>
        </div>
        <div class="form-group col-md-1 ">
          <label for="formGroupExampleInput">Age</label>
          <br />
          <%= f.select :age, options_for_select(array_age), :class => "form-control" %>
        </div>
        <div class="form-group col-md-1">
          <label for="formGroupExampleInput">Genre</label>
          <br />
          <%= f.select :genre, options_for_select(["Homme", "Femme"]), :class => "form-control" %>
        </div>
      </div>

      <div class="form-row justify-content-center align-items-center h-100">
        <div class="form-group col-md-4">
          <label for="formGroupExampleInput">Description</label>
          <%= f.text_area :description, autofocus: true, class:"form-control" %>
        </div>
      </div>

 
     
  
  

    </div>
  <center><%= f.submit "Editer", class:"btn btn-primary"%>
  <%= link_to 'Retour', :back, class: "btn btn-primary" %>
   </center>
  
    
  <% end %>
</div>


