<div class="form-custom">
  <center><h3>Changer mot de passe</h3>
  <br />

  <%= form_tag(user_path(@user.id), method: 'patch') do %>
    <div class="form-group">
      <div class="form-row justify-content-center text-center">
        <div class="form-group col-md-2">
          <label for="inputEmail4">Nouveau mot de passe</label>
          <%= password_field_tag(:new_password,nil , class:"form-control") %>
        </div>
        <div class="form-group col-md-2">
          <label for="inputEmail4">Confirmation du nouveau mot de passe</label>
          <%= password_field_tag(:new_password_confirmation,nil , class:"form-control") %>
        </div>
        <div class="form-group col-md-2">
          <label for="inputEmail4">Ancien mot de passe</label>
          <%= password_field_tag(:password,nil , class:"form-control") %>
        </div>
        
      </div>
    </div>

<center><%= submit_tag("Valider", class: "btn btn-sm btn-primary") %>
<%= link_to "Retour", edit_user_registration_path,  class: "btn btn-sm btn-primary" %>
</center>
<% end %>
</div>