<br />
<center><h3>Profil de <%= @user.first_name %> <%= @user.last_name %></h3>
<br />
<% if user_signed_in? && current_user.id == @user.id %>
<%= link_to "Editer profil", edit_user_registration_path, class: "btn btn-sm btn-primary" %>
<% end %>
<%= link_to 'Retour', :back, class: "btn btn-sm btn-primary" %>
<br />


<% if current_user.id == @user.id %>
<br />
<table>
<tr>
  <th class="table-th scope="col"> # </th>
  <th class="table-th scope="col">Titre</th>
  <th class="table-th scope="col">Date</th>
  <th class="table-th scope="col">Status</th>
  <th class="table-th scope="col">Prix</th>
  <th class="table-th scope="col">Lieux</th>
  <th class="table-th scope="col">Lien</th>
</tr>
<tr>
<% @user_attendances.each.with_index(1) do |el,index| %>
  <tr class="table-tr">
  <td class="table-td" scope="row"><%= index %></td>
  <td class="table-td" scope="row"><%= el.event.title %></td>
  <td class="table-td" scope="row"><%= el.event.start_date %></td>
  <td class="table-td" scope="row"><% if el.event.start_date > Time.now %> à venir <% else %> terminé <% end %></td>
  <td class="table-td" scope="row"><%= el.event.price %></td>
  <td class="table-td" scope="row"><%= el.event.location %></td>
  <td class="table-td" scope="row"><%= link_to "event", event_path(el.event.id), class: "link-profile-event"%></td>
  </tr>
<% end %>

</table>
<% else %>
<% end %>