
<div class="form-custom">
  <center><h3>Formulaire de création d'évènement</h3></center>
  <br />
  <%= form_tag(events_path, method: 'post') do %>
    <div class="form-group">
      <div class="form-row justify-content-center align-items-center h-100">
        <div class="form-group col-md-2">
          <label for="inputEmail4">Titre</label>
          <%= text_field_tag(:title, nil, placeholder: 'Titre', class:"form-control") %>
        </div>
        <div class="form-group col-md-2">
          <label for="inputEmail4">Prix pour rejoindre</label>
          <%= text_field_tag(:price, nil, placeholder: '00,00€', class:"form-control") %>
        </div>
        <div class="form-group col-md-2">
          <label for="inputEmail4">Lieux</label>
          <%= text_field_tag(:location, nil, placeholder: 'Lieux', class:"form-control") %>
        </div>
      </div>
    

      <div class="form-row justify-content-center align-items-center h-100">
        <div class="form-group col-md-2">
          <label for="inputEmail4">Date</label><br />
          <%= date_field_tag(:start_date, class:"form-control") %>
        </div>
        <div class="form-group col-md-2">
          <label for="inputEmail4">Heure</label><br />
          <%= time_field_tag(:start_hour, class:"form-control") %>
        </div>
        <div class="form-group col-md-2">
          <label for="inputEmail4">Durée</label><br />
          <%= select_tag (:duration), options_for_select(array_duration, class:"form-control") %>
        </div>
      </div>

      <div class="form-row justify-content-center align-items-center h-100">
        <div class="form-group col-md-6">
          <label for="inputEmail4">Description ( optionnel )</label><br />
          <%= text_area_tag :description, nil, class: "form-control" %>
        </div>
      </div>

      <div class="form-row justify-content-center align-items-center h-100">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Image</label><br />
        <%= file_field_tag :avatar, multipart: true, direct_upload: true %>
      </div>
    </div>

    </div>
  


<center><%= submit_tag("Valider", class: "btn btn-sm btn-primary") %>
<%= link_to "Retour", root_path,  class: "btn btn-sm btn-primary" %></center>
<% end %>
</div>

