<center>
<br />
<h3>Détails de l'évènement <strong>"<%= @event.title %>"</strong></h3>


<% if !@attendance.nil?  %>
  <% if @event.organizer.id  == current_user.id %>
  <% else %>
    <%= link_to "Quitter", event_attendance_path(@event.id,@attendance.id), method: "delete", data: { confirm: 'Are you sure?'},  class: "btn btn-sm btn-danger" %>
  <% end %>
  <%= link_to "Retour", root_path,  class: "btn btn-sm btn-primary"%>
<% elsif @event.price != 0 %>
  <%= form_tag orders_path do %>
  <%= hidden_field_tag 'event_id', @event.id %>
  <article>
    <% if flash[:error].present? %>
      <div id="error_explanation">
        <p><%= flash[:error] %></p>
      </div>
    <% end %>
  </article>
    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
      data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
      data-description="Réserver sa place"
      data-label="Rejoindre"
      data-amount=<%= (@event.price*100).to_s %>
      
      data-locale="fr">
    </script>
    <%= link_to "Retour", root_path,  class: "btn btn-sm btn-primary"%>
  <% end %>
<% elsif @event.price == 0 %>
<%= link_to "Retour", root_path,  class: "btn btn-sm btn-primary"%>
<%= link_to "Rejoindre", event_attendances_path(@event.id), method: "post",  class: "btn btn-sm btn-primary" %>
<% end %>

<% if user_signed_in? && ( @event.organizer.id.nil? || @event.organizer.id  == current_user.id )%>
<%= link_to "Editer", edit_event_path(@event.id),  class: "btn btn-sm btn-primary" %>
<%= link_to "Supprimer", event_path(@event.id), method: "delete", data: { confirm: 'Etes vous sur?'},  class: "btn btn-sm btn-danger" %>
<% end %>


<% if !@attendance.nil? && !@attendance.stripe_customer_id.nil?  %>
<%= link_to "Retour", root_path,  class: "btn btn-sm btn-primary"%>
  <% else %>
  <% end %>

</center>



<div class="container">
  <div class="row  ">
    <div class="col-sm-4">
      <h4>Informations</h4>
      <br />
      <div class="event-show-infos">
        <ul class="list-group">
        <li class="list-group-item">Organisateur : <strong><%= @event.organizer.first_name %> <%= @event.organizer.last_name %></strong> </li>
        <li class="list-group-item">Lieux : <strong><%= @event.location %></strong></li>
        <li class="list-group-item">Date : <strong><%= @event.start_date.strftime("%d of %B, %Y") %></strong></li>
        <li class="list-group-item">Heure : <strong><%= @event.start_hour %></strong></li>
        <li class="list-group-item">Durée : <strong><%= @event.duration %></strong></li>
        <li class="list-group-item">Prix : <strong><%= @event.price %>€</strong></li>
        <li class="list-group-item">Nb de participants : <strong><%= @event.attendances.count %></strong></li>
        </ul>
    
      </div>
    </div>
    <div class="col-sm-6">
    <h4>Participants</h4>
      <br />
      <table class="table table-bordered">
      <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Participant</th>
        <th scope="col">Age</th>
        <th scope="col">Genre</th>
        <th scope="col">Profil</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each.with_index(1) do |attendance, index| %>
      <tr>
      <th scope="col"><%= index %></th>
      <th scope="col"><%= attendance.user.first_name %> <%= attendance.user.last_name %></th>
      <th scope="col"><%= attendance.user.age %></th>
      <th scope="col"><%= attendance.user.genre %></th>
      
      <th scope="col">
        <center>
        <%= link_to user_path(attendance.user.id) do %>
          <i class="fas fa-user-circle fa-lg"></i>
        <% end %>
        </center>
        </th>
      </tr>
      <% end %>
   
      
    </tbody>
  </table>
    </div>

  </div>
</div>
