<center>
<br />
<h3><strong><%= @event.title %></strong></h3>


<% if !@attendance.nil? %>
<%= link_to "Quitter", event_attendance_path(@event.id,@attendance.id), method: "delete", data: { confirm: 'Are you sure?'},  class: "btn btn-sm btn-danger" %>
<% else %>
<%= link_to "Rejoindre", event_attendances_path(@event.id), method: "post",  class: "btn btn-sm btn-primary" %>
<% end %>
<%= link_to "Retour", root_path,  class: "btn btn-sm btn-primary" %>
<% if @event.organizer.id.nil? && @event.organizer.id  == current_user.id %>
<%= link_to "Editer", edit_event_path(@event.id),  class: "btn btn-sm btn-primary" %>
<%= link_to "Supprimer", event_path(@event.id), method: "delete", data: { confirm: 'Etes vous sur?'},  class: "btn btn-sm btn-danger" %>
<% end %>
<br />

</center>




<div class="container">
  <div class="row justify-content-center ">
    <div class="col-4">
      <h4>Informations</h4>
      <br />
      <div class="event-show-infos">
        <ul class="list-group">
        <li class="list-group-item">Organisateur : <strong><%= @event.organizer.first_name %> <%= @event.organizer.last_name %></strong> </li>
        <li class="list-group-item">Lieux : <strong><%= @event.location %></strong></li>
        <li class="list-group-item">Date : <strong><%= @event.start_date.strftime("%d of %B, %Y") %></strong></li>
        <li class="list-group-item">Heure : <strong><%= @event.start_hour %></strong></li>
        <li class="list-group-item">Durée : <strong><%= @event.duration %></strong></li>
        <li class="list-group-item">Prix: <strong><%= @event.price %>€</strong></li>
        </ul>
    
      </div>
    </div>
    <div class="col-6">
    <h4>Participants</h4>
      <br />
      <table class="table table-bordered">
      <thead>
        <tr>
        <th scope="col">#</th>
        <th scope="col">Prénom</th>
        <th scope="col">Nom</th>
        <th scope="col">Age</th>
      </tr>
    </thead>
    <tbody>
      <% @attendances.each.with_index(1) do |attendance, index| %>
        <tr>
      <th scope="row"><%= index %></th>
      <th scope="col"><%= attendance.user.first_name %></th>
      <th scope="col"><%= attendance.user.last_name %></th>
      </tr>
      <% end %>
      
      
    </tbody>
  </table>
    </div>

  </div>
</div>
